@use '@/styles/abstracts' as *;

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.6px;
  color: $color-accent-primary;
  text-transform: uppercase;
  margin-bottom: 16px;

  @include tablet-max {
    margin-bottom: 12px;
  }

  @include tablet-min {
    font-size: 14px;
    line-height: 21px;
  }

  @include mobile {
    margin-bottom: 4px;
  }
}

.description {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.6px;
  color: $color-text-primary;

  @include tablet-min {
    font-size: 28px;
    line-height: 36px;
  }

  @include mobile {
    font-size: 18px;
    line-height: 24px;
  }
}
