@use '@/styles/abstracts' as *;

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 16px;
  border-radius: 4px;
  background-color: $color-text-primary;

  @include tablet-max {
    padding: 8px;
  }
}

.text {
  margin-left: 8px;

  @include tablet-max {
    display: none;
  }

  &.textMobile {
    display: none !important;
  }
}

.icon {
  @include tablet-min {
    width: 12px;
    height: 12px;
  }

  &.iconMobile {
    width: 12px !important;
    height: 12px !important;
  }
}
