@use 'abstracts' as *;

:root {
  --foreground: #{$color-text-primary};
  --background: #{$color-bg-primary};
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-primary;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  touch-action: none;
  -ms-touch-action: none;
  padding-right: var(--scrollbar-width, 0px);
}
