.slider {
  :global(.swiper:not(.swiper-initialized)) {
    overflow: hidden;

    :global(.swiper-slide) {
      margin-right: 16px;
      width: calc((100% - 1.6px) / 1.1);

      @media (min-width: 320px) {
        width: calc((100% - 6.4px) / 1.4);
      }

      @media (min-width: 420px) {
        width: calc((100% - 12.8px) / 1.8);
      }

      @media (min-width: 568px) {
        width: calc((100% - 22.4px) / 2.4);
      }

      @media (min-width: 768px) {
        width: calc((100% - 32px) / 3);
      }

      @media (min-width: 992px) {
        width: calc((100% - 41.6px) / 3.6);
      }

      @media (min-width: 1200px) {
        width: calc((100% - 51.2px) / 4.2);
      }
    }
  }
}
